html{
    background: url("background.jpg") no-repeat;
	background-size: cover;
    min-height: 100%;
}

body{
    background:none;
}

#advanced-search-form{
       background-color: #fff;
    /* max-width: 800px; */
    /* margin: 160px auto 0; */
    padding: 40px;
    color: #858b8e;
    /* box-shadow: 6px 6px 6px rgba(0,0,0,0.2); */
}

#advanced-search-form h2{
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
}

#advanced-search-form hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#advanced-search-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 40%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-group2{
	margin-bottom: 20px;
    margin-left:20px;
	width: 82%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}

#advanced-search-form .gender{
    width: 30%;
    margin-top: 30px;
    padding-left: 20px
  
   
}

#advanced-search-form .btn{
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
}

@media screen and (max-width: 800px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}






body{
    background-color: transparent;
}

#log-in-form{
    /* margin: 230px auto 0; */
    padding: 10px;
    color: white;
    height: auto;
    max-width: 800px;
    /* background-image: url(notebook-chill.jpg); */
    margin-bottom: 250px;
    background-size: cover;
}

#log-in-form .heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    color: #286090;
}

#log-in-form .form-group{
    float: left;
    width: 28%;
    margin-left: 40px;
}

#log-in-form .form-control{
    padding: 15px 25px;
    height: auto;
}

#log-in-form .form-group-btn{
    width: 15%;
    margin-left: 70px;
}

#log-in-form .btn{
    padding: 13px 32px;
}

#log-in-form .checkbox{
    float: left;
    margin: 15px 0 50px 40px;
}


@media screen and (max-width: 800px){
    #log-in-form{
        margin: 20px;
    }

    #log-in-form .form-group{
        width: 60%;
        float: none;
        margin: 10px auto;
    }

    #log-in-form .form-group-btn{
        margin-top: 30px;
    }

    #log-in-form .btn{
        width: 100%;
    }

    #log-in-form .checkbox{
        width: 60%;
        float: none;
        margin: 15px auto 50px auto;
    }
}

@media screen and (max-width: 600px){
    #log-in-form .form-group,
    #log-in-form .checkbox{
        width: 90%;
    }
}


h1{
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}