<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <res-ref-name>jdbc/bienraizDS</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPropiedadesServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.ListarPropiedadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenedorUsuarioServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.MantenedorUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuarioServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.AgregarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenedorPropiedadesServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.MantenedorPropiedadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactoServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.ContactoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.LoginServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>cl.duoc.dej.bienraiz.dao.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaPropiedadServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.AgregaPropiedadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPropiedadServlet</servlet-name>
        <servlet-class>cl.duoc.dej.bienraiz.servlet.EliminarPropiedadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPropiedadesServlet</servlet-name>
        <url-pattern>/listar-propiedades-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantenedorUsuarioServlet</servlet-name>
        <url-pattern>/private/mantenedor-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/private/eliminar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuarioServlet</servlet-name>
        <url-pattern>/private/agregar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantenedorPropiedadesServlet</servlet-name>
        <url-pattern>/private/mantenedor-propiedades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactoServlet</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaPropiedadServlet</servlet-name>
        <url-pattern>/private/agregar-propiedad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPropiedadServlet</servlet-name>
        <url-pattern>/private/eliminar-propiedad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error/500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>inicio</welcome-file>
    </welcome-file-list>
</web-app>
